MODE=private
PREFIXES=.
PORT=3000
SESSION=

TZ=Africa/Abidjan

ANTICALL=off
ANTIDELETE=on
ANTIEDIT=on

AUTO_READ=off
AUTO_VIEW=on
AUTO_LIKE=on

DM_PRESENCE=
GRP_PRESENCE=

USER_LID=

OWNER_NUMBER=2250160098804
OWNER_NAME=N9uf_S
